. use flake

# #> Workspace
# project="Data Analytics Portfolio"
# bin="$workspace/scripts"
# log="$workspace/logs"

# # Database
# PGDATA=".data"
# PGLOG="$log/PostgreSQL"

# #> Project - NBA
# project_DIR="$workspace/nba"
# nba_host="localhost"
# nba_port="5432"
# nba_user="postgres"
# nba_db="nba"

# #> Project - WORLD
# project_DIR="$workspace/world"
# world_host="localhost"
# world_port="5432"
# world_user="postgres"
# world_db="world"
# world_file="$assets/world.sql"
# world_source="https://mysqlcode.com/wp-content/uploads/2023/01/world.zip"
